<h4 class="center">New Gallery Image</h4>
<%= render 'shared/alerts' %>

<%= render 'form', gallery: @gallery %>


<div class="container">
    <%= link_to 'Back', galleries_path, class: 'btn black' %>
</div>